<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <style>
        .swiper {
            width: 600px;
            height: 170px;
        }
    </style>
</head>

<body>
    <div class="w-full h-screen bg-gray-200 relative">
        <div class=" absolute w-full bg-gray-800 h-[30%]  p-8 ">

            <div class="w-full  flex justify-between">
                <i class="fa-solid fa-bars text-xl text-white block"></i>
                <i class="fa-solid fa-user text-xl text-white block"></i>
            </div>

            <div class="w-full space-y-6 flex flex-col items-center mb-8">
                <p class="text-gray-400 text-md">Miercoles 8 de febrero</p>
                <h2 class="text-lg text-white font-semibold">
                    <span class="font-light text-gray-400">Bienvenido,</span>Jorge Valencia
                </h2>
            </div>

            <!--Venta de LimaWine-->
            <div class="flex ">
                <div class="swiper  w-full ">
                    <div class="swiper-wrapper w-full">
                        <div class="swiper-slide drop-shadow-lg">
                            <div class="w-full  
                                bg-green-700  flex  flex-col relative items-start justify-center h-36 p-2 rounded-md drop-shadow-xl ">
                                <div class="space-y-4">
                                    <h1 class="text-4xl text-green-200 font-semibold">$ 10,2000</h1>
                                    <p class="text-base  text-gray-50">Premium Brands</p>
                                </div>
                                <p class="absolute top-0 right-0 px-2 text-gray-50 font-semibold">Venta por Mes
                                    <a href="#" class="fa-solid fa-chevron-right text-base"></a>
                                </p>
                                <i class="fa-solid fa-building absolute bottom-0 right-0 text-8xl text-green-400"></i>
                            </div>
                        </div>

                        <div class="swiper-slide drop-shadow-lg">
                            <div class="w-full  
                                bg-green-700  flex  flex-col relative items-start justify-center h-36 p-2 rounded-md drop-shadow-xl ">
                                <div class="space-y-4">
                                    <h1 class="text-4xl text-green-200 font-semibold">$ 10,2000</h1>
                                    <p class="text-base  text-gray-50">Premium Brands</p>
                                </div>
                                <p class="absolute top-0 right-0 px-2 text-gray-50 font-semibold">Venta por Dia
                                    <a href="#" class="fa-solid fa-chevron-right text-base"></a>
                                </p>
                                <i class="fa-solid fa-building absolute bottom-0 right-0 text-8xl text-green-400"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Venta de CheeseCorner-->
            <div class="flex ">
                <div class="swiper h-10 w-full ">
                    <div class="swiper-wrapper w-full">
                        <div class="swiper-slide drop-shadow-lg">
                            <div class="w-full  
                                bg-blue-500  flex  flex-col relative items-start justify-center h-36 p-2 rounded-md drop-shadow-xl ">
                                <div class="space-y-4">
                                    <h1 class="text-4xl text-blue-200 font-semibold">$ 20,000</h1>
                                    <p class="text-base  text-gray-50">The Chesse Corner</p>
                                </div>
                                <p class="absolute top-0 right-0 px-4 text-gray-50 font-semibold">Venta por Mes 
                                     <a href="#" class="fa-solid fa-chevron-right text-base"></a>
                                </p>
                                <i class="fa-solid fa-building absolute bottom-0 right-0 text-8xl text-blue-400"></i>
                            </div>
                        </div>

                        <div class="swiper-slide drop-shadow-lg">
                            <div class="w-full  
                                bg-blue-500  flex  flex-col relative items-start justify-center h-36 p-2 rounded-md drop-shadow-xl ">
                                <div class="space-y-4">
                                    <h1 class="text-4xl text-blue-200 font-semibold">$ 40,000</h1>
                                    <p class="text-base  text-gray-50">The Cheese Corner</p>
                                </div>
                                <p class="absolute top-0 right-0 px-2 text-gray-50 font-semibold">Venta por Dia
                                    <a href="#" class="fa-solid fa-chevron-right text-base"></a>
                                </p>
                                <i class="fa-solid fa-building absolute bottom-0 right-0 text-8xl text-blue-400"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <!-- Venta de Premiumbrands-->
            <div class="flex ">
                <div class="swiper  w-full ">
                    <div class="swiper-wrapper w-full">
                        <div class="swiper-slide drop-shadow-lg">
                            <div class="w-full  
                                bg-indigo-700  flex  flex-col relative items-start justify-center h-36 p-2 rounded-md drop-shadow-xl ">
                                <div class="space-y-4">
                                    <h1 class="text-4xl text-indigo-200 font-semibold">$ 10,000</h1>
                                    <p class="text-base  text-gray-50">Lima Wine</p>
                                </div>
                                <p class="absolute top-0 right-0 px-2 text-gray-50 font-semibold">Venta por Mes
                                    <a href="#" class="fa-solid fa-chevron-right text-base"></a>
                                </p>
                                <i class="fa-solid fa-building absolute bottom-0 right-0 text-8xl text-indigo-400"></i>
                            </div>
                        </div>

                        <div class="swiper-slide drop-shadow-lg">
                            <div class="w-full  
                                bg-indigo-700  flex  flex-col relative items-start justify-center h-36 p-2 rounded-md drop-shadow-xl ">
                                <div class="space-y-4">
                                    <h1 class="text-4xl text-indigo-200 font-semibold">$ 18,000</h1>
                                    <p class="text-base  text-gray-50">Lima Wine</p>
                                </div>
                                <p class="absolute top-0 right-0 px-2 text-gray-50 font-semibold">Venta por Dia
                                    <a href="#" class="fa-solid fa-chevron-right text-base"></a>
                                </p>
                                <i class="fa-solid fa-building absolute bottom-0 right-0 text-8xl text-indigo-400"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
       

    });
</script>
<script src="https://kit.fontawesome.com/dfddf3a1f7.js" crossorigin="anonymous"></script>

</html>