<header class="h-[10%]">
    <nav class="w-full h-full bg-white shadow-md p-4  flex justify-between items-center text-gray-900">
        <div class="flex items-center  space-x-5 w-4/5 ">
            <i class="fa-solid fa-bars" id="btn-menu"></i>
            <h1 class=" text-md lg:text-lg font-semibold text-gray-500 ">Premium Brands</h1>
        </div>
        <div class="w-1/5  text-end">
            <i class="fa-solid fa-arrow-right-from-bracket "></i>
        </div>
    </nav>
</header>