<div class="w-full bg-gray-800 absolute z-20 lg:relative  h-[90%] lg:h-[100%]  hidden lg:w-1/5 lg:block" id="sidebar">
    <!-- SIDEBAR ENLACES -->
    <div class=" p-4 flex-col justify-between  text-sm text-gray-300 flex h-full space-y-4">

        <div class="w-full ">
            <ul class=" space-y-8 lg:mt-6 font-semibold">
                <li><a href="/home"
                        class="hover:bg-yellow-600 hover:text-gray-900  p-2 rounded-md duration-500"><i class="fa-solid fa-house pr-2"></i>Inicio</a>
                </li>
                <li><a href="/ventaCanales"
                        class="hover:bg-yellow-600 hover:text-gray-900 p-2 rounded-md duration-500"><i class="fa-solid fa-people-roof pr-2"></i>Ventas x
                        Canales</a></li>
                <li><a href="#"
                        class="hover:bg-yellow-600 hover:text-gray-900 p-2 rounded-md duration-500"><i class="fa-solid fa-coins pr-2"></i>Ventas
                        Diarias</a></li>
                <li><a href="#"
                        class="hover:bg-yellow-600 hover:text-gray-900 p-2 rounded-md duration-500"><i class="fa-solid fa-boxes-stacked pr-2"></i>Stock
                        Diario</a></li>
            </ul>
        </div>

        <!--SiDEBAR PROFILE-->
        <div>
            <div class="flex items-center space-x-4 border-b py-4">
                <i class="fa-solid fa-gear "></i>
                <p>Configuración</p>
            </div>
            <div class="flex items-center space-x-4 text-xs py-4 ">
                <i class="fa-solid fa-circle-user "></i>
                <div>
                    <p class="font-extralight text-yellow-400">Marco Solier</p>
                    <p class="font-semibold">Marco_solier@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    </div>